PyQt5
PyQtWebEngine
Flask
flask-cors
requests
torch
transformers
peft
bitsandbytes
accelerate
safetensors
sentencepiece
tokenizers
modelscope
huggingface_hub
datasets
pyinstaller
tqdm
psutil
PyYAML
numpy
pillow
